.footer {
  background: #f0f1f6;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e0e0e0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 59px 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
}

.link {
  font-family: "Open Sans Hebrew", sans-serif;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: #586fc1;
}

.linkTerms {
  margin-right: 36px;
}

.linkTerms, .linkMail {
  font-family: "Open Sans Hebrew", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: rgb(88, 111, 193);
}

.linkMail {
  margin-left: 20px;
}
