.formSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 80px 0 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 40px;
  border: 20px solid #d7e0ff;
}

.formTitle {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  margin: 29.5px 0 0 28px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 644px;
  margin: 29.5px 28px 20px;
  background-color: #fff;
}

.inputTitle {
  display: flex;
  flex-direction: column;
  margin: 0px 0 0 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #7790d3;
}

.input {
  margin: 0 0 0;
  padding: 0 8px 0 16px;
  min-width: 320px;
  border-radius: 8px;
  background-color: #f6f6f6;
  height: 48px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.drivingBlock {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.inputDate {
  margin-bottom: 12px;
}

.error {
  display: block;
  height: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: red;
  margin: 5px 0 0 12px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 9px;
  max-width: 585px;
  background-color: #f6f6f;
  margin: 0 0 0 40px;
  padding: 0 20px;
}

.descriptionTitle {
  padding: 0;
  max-width: 395px;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  color: #000;
  margin: 20px 0 10px;
}

.descriptionText {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  margin: 20px 0 20px 12px;
  letter-spacing: -0.24px;
}

.descriptionBlock {
  display: flex;
  flex-direction: row;
}

.btnBlock {
  margin: 56px 0 58px 28px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.descriptionCheckMark {
  width: 19.5px;
  object-fit: contain;
}

.uncheckedCheckMark {
  border: 1px solid red;
}
